{% extends 'base.html' %} {% load static %} {% block content %}
<div class="flex flex-col gap-8">
  <div class="flex flex-row items-center w-screen p-2 justify-between">
    <a
      href="https://github.com/Tanmay000009"
      target="_blank"
      rel="noopener noreferrer"
    >
      <div class="bg-[#eebbc3] rounded-lg text-base py-2 px-5">
        Made with <i class="fa fa-heart" aria-hidden="true"></i> by
        <i class="fa fa-github" aria-hidden="true"></i> tanmay000009
      </div>
    </a>
    <div class="flex flex-row gap-8 justify-center items-center">
      <a href="/" class="btn btn-primary">
        <button
          type="button"
          class="flex flex-row justify-center items-center gap-2 focus:outline-none text-white bg-[#eebbc3] hover:bg-[#eebbc3] focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2"
        >
          <p class="text-xl text-[#232946]">Home</p>
        </button>
      </a>
      <a
        href="/get/csv"
        target="_blank"
        rel="noopener noreferrer"
        class="btn btn-primary"
      >
        <button
          type="button"
          class="flex flex-row justify-center items-center gap-2 focus:outline-none text-white bg-[#eebbc3] hover:bg-[#eebbc3] focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2"
        >
          <p class="text-xl text-[#232946]">Download CSV</p>
        </button>
      </a>
      <a href="{% url 'logout' %}" class="btn btn-primary">
        <button
          type="button"
          class="flex flex-row justify-center items-center gap-2 focus:outline-none text-white bg-[#eebbc3] hover:bg-[#eebbc3] focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2"
        >
          <p class="text-xl text-[#232946]">Logout</p>
        </button>
      </a>
    </div>
  </div>
  <div class="flex flex-col h-full p-2">
    <div class="flex flex-col my-8 px-8">
      <div class="flex flex-row justify-between items-center mb-4">
        <div>
          <div class="text-3xl text-white">Your organizations:</div>
          <div class="text-xl text-white">Total: {{ orgs|length }}</div>
        </div>
        <a href="/load/organizations">
          <div
            class="text-xl bg-[#eebbc3] text-[#232946] rounded-lg text-base py-1 px-3"
          >
            <i class="fa fa-refresh" aria-hidden="true"></i>
            Refetch organizations
          </div>
        </a>
      </div>
      {% if orgs == None or orgs|length == 0 %}
      <div class="text-2xl text-[#d4939d]">No organizations found :(</div>
      <div class="text-md text-[#d4939d]">
        Try editing Organization permissions for GithubRepoMirror
      </div>

      <a
        href="https://github.com/settings/connections/applications/4266cc7d16112f9e9267"
        target="_blank"
        rel="noopener noreferrer"
        class="w-52 mt-4"
      >
        <div
          class="text-xl bg-[#eebbc3] text-[#232946] rounded-lg text-base py-1 px-3"
        >
          Manage Permissions
        </div>
      </a>

      {% else %}

      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-400">
          <thead class="text-xs uppercase text-gray-400">
            <tr>
              <th scope="col" class="px-6 py-3 bg-[#b8c1ec] text-[#232946]">
                Organization Id
              </th>
              <th scope="col" class="px-6 py-3">Organization Name</th>
              <th scope="col" class="px-6 py-3 bg-[#b8c1ec] text-[#232946]">
                Open
              </th>
              <th scope="col" class="px-6 py-3">Fetch Repositories</th>
            </tr>
          </thead>
          <tbody>
            {% for org in orgs %}
            <tr class="border-b border-gray-700">
              <th
                scope="row"
                class="px-6 py-4 font-medium whitespace-nowrap bg-[#b8c1ec] text-[#fffffe]"
              >
                {{ org.id }}
              </th>
              <td class="px-6 py-4">{{ org.name }}</td>
              <th scope="col" class="px-6 py-3 bg-[#b8c1ec] text-[#232946]">
                <a
                  href="{{ org.url }}"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <img
                    src="{% static 'icons/newPage.png' %}"
                    class="h-4 w-4"
                    alt="New Window Icon"
                  />
                </a>
              </th>
              <td class="px-6 py-4">
                <div
                  class="w-24 text-xl bg-white text-black rounded-lg text-base py-1 px-3"
                >
                  <a
                    href="/get/org/{{ org.id }}"
                    class="flex flex-row justify-center items-center gap-2 px-2"
                  >
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                    Fetch
                  </a>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="text-md text-[#d4939d] mt-2">
        Don't see the organnization listed ? Try editing Organization
        permissions for GithubRepoMirror
      </div>
      <a
        href="https://github.com/settings/connections/applications/4266cc7d16112f9e9267"
        target="_blank"
        rel="noopener noreferrer"
        class="w-60 mt-4"
      >
        <div
          class="w-52 text-xl bg-[#eebbc3] text-[#232946] rounded-lg text-base py-1 px-3"
        >
          Manage Permissions
        </div>
      </a>
      {% endif %}
    </div>
  </div>
  <div>{% endblock %}</div>
</div>
