{% extends 'base.html' %} {% load static %} {% block content %}
<div class="flex flex-col gap-8">
  <div class="flex flex-row items-center w-screen p-2 justify-between">
    <a
      href="https://github.com/Tanmay000009"
      target="_blank"
      rel="noopener noreferrer"
    >
      <div class="bg-[#eebbc3] rounded-lg text-base py-2 px-5">
        Made with <i class="fa fa-heart" aria-hidden="true"></i> by
        <i class="fa fa-github" aria-hidden="true"></i> tanmay000009
      </div>
    </a>
    <div class="flex flex-row gap-8 justify-center items-center">
      <a href="/" class="btn btn-primary">
        <button
          type="button"
          class="flex flex-row justify-center items-center gap-2 focus:outline-none text-white bg-[#eebbc3] hover:bg-[#eebbc3] focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2"
        >
          <p class="text-xl text-[#232946]">Home</p>
        </button>
      </a>
      <a
        href="/get/csv"
        target="_blank"
        rel="noopener noreferrer"
        class="btn btn-primary"
      >
        <button
          type="button"
          class="flex flex-row justify-center items-center gap-2 focus:outline-none text-white bg-[#eebbc3] hover:bg-[#eebbc3] focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2"
        >
          <p class="text-xl text-[#232946]">Download CSV</p>
        </button>
      </a>
      <a href="{% url 'logout' %}" class="btn btn-primary">
        <button
          type="button"
          class="flex flex-row justify-center items-center gap-2 focus:outline-none text-white bg-[#eebbc3] hover:bg-[#eebbc3] focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2"
        >
          <p class="text-xl text-[#232946]">Logout</p>
        </button>
      </a>
    </div>
  </div>
  <div class="flex flex-col h-full p-2">
    <div class="flex flex-col my-8 px-8">
      <div class="flex flex-row justify-between items-center mb-4">
        <div>
          <div class="text-3xl text-white">Your repositories:</div>
          <div class="text-xl text-white">Total: {{ repos|length }}</div>
        </div>
        <a href="/load/repositorios">
          <div
            class="text-xl bg-[#eebbc3] text-[#232946] rounded-lg text-base py-1 px-3"
          >
            <i class="fa fa-refresh" aria-hidden="true"></i>
            Refetch repositories
          </div>
        </a>
      </div>
      {% if repos == None or repos|length == 0 %}
      <div class="text-white">No repositories found</div>
      {% else %}

      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-400">
          <thead class="text-xs uppercase text-gray-400">
            <tr>
              <th scope="col" class="px-6 py-3 bg-[#b8c1ec] text-[#232946]">
                Repository Id
              </th>
              <th scope="col" class="px-6 py-3">Repository Name</th>
              <th scope="col" class="px-6 py-3 bg-[#b8c1ec] text-[#232946]">
                Owner Email
              </th>
              <th scope="col" class="px-6 py-3">Owner Id</th>
              <th scope="col" class="px-6 py-3 bg-[#b8c1ec] text-[#232946]">
                Owner Name
              </th>
              <th scope="col" class="px-6 py-3">Stars</th>
              <th scope="col" class="px-6 py-3 bg-[#b8c1ec] text-[#232946]">
                Open
              </th>
              <th scope="col" class="px-6 py-3">Status</th>
            </tr>
          </thead>
          <tbody>
            {% for repo in repos %}
            <tr class="border-b border-gray-700">
              <th
                scope="row"
                class="px-6 py-4 font-medium whitespace-nowrap bg-[#b8c1ec] text-[#fffffe]"
              >
                {{ repo.id }}
              </th>
              <td class="px-6 py-4">{{ repo.name }}</td>
              <td class="px-6 py-4 bg-[#b8c1ec] text-[#232946]">
                {{ repo.owner_email }}
              </td>
              <td class="px-6 py-4">{{ repo.owner_id }}</td>
              <td class="px-6 py-4 bg-[#b8c1ec] text-[#232946]">
                {{ repo.owner_name }}
              </td>
              <td class="px-6 py-4">{{ repo.stars }}</td>
              <td class="px-6 py-4 bg-[#b8c1ec] text-[#232946]">
                <a
                  href="{{ repo.url }}"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <img
                    src="{% static 'icons/newPage.png' %}"
                    class="h-4 w-4"
                    alt="New Window Icon"
                  />
                </a>
              </td>
              <td class="px-6 py-4">{{ repo.status }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
    </div>
  </div>
  <div>{% endblock %}</div>
</div>
