{% load static %}

<div class="flex flex-col my-8 px-8 border border-gray-300 p-2">
  <div class="flex flex-row justify-between items-center mb-4">
    <div class="text-3xl text-white">Your organizations:</div>
    {% if orgs != None and orgs|length != 0 %}
    <a href="all/organizations">
      <div
        class="text-xl bg-[#eebbc3] text-[#232946] rounded-lg text-base py-1 px-3"
      >
        View all
      </div>
    </a>
    {% else %}
    <a href="/load/organizations">
      <div
        class="text-xl bg-[#eebbc3] text-[#232946] rounded-lg text-base py-1 px-3"
      >
        <i class="fa fa-refresh" aria-hidden="true"></i>
        Refetch
      </div>
    </a>
    {% endif %}
  </div>
  {% if orgs == None or orgs|length == 0 %}
  <div class="text-2xl text-[#d4939d]">No organizations found :(</div>
  <div class="text-md text-[#d4939d]">
    Try editing Organization permissions for balkantask
  </div>

  <a
    href="https://github.com/settings/connections/applications/4266cc7d16112f9e9267"
    target="_blank"
    rel="noopener noreferrer"
    class="w-52 mt-4"
  >
    <div
      class="text-xl bg-[#eebbc3] text-[#232946] rounded-lg text-base py-1 px-3"
    >
      Manage Permissions
    </div>
  </a>

  {% else %}
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-400">
      <thead class="text-xs uppercase text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3 bg-[#b8c1ec] text-[#232946]">
            Organization Id
          </th>
          <th scope="col" class="px-6 py-3">Organization Name</th>
          <th scope="col" class="px-6 py-3 bg-[#b8c1ec] text-[#232946]">
            Open
          </th>
          <th scope="col" class="px-6 py-3">Fetch Repositories</th>
        </tr>
      </thead>
      <tbody>
        {% for org in orgs %}
        <tr class="border-b border-gray-700">
          <th
            scope="row"
            class="px-6 py-4 font-medium whitespace-nowrap bg-[#b8c1ec] text-[#fffffe]"
          >
            {{ org.id }}
          </th>
          <td class="px-6 py-4">{{ org.name }}</td>
          <th scope="col" class="px-6 py-3 bg-[#b8c1ec] text-[#232946]">
            <a href="{{ org.url }}" target="_blank" rel="noopener noreferrer">
              <img
                src="{% static 'icons/newPage.png' %}"
                class="h-4 w-4"
                alt="New Window Icon"
              />
            </a>
          </th>
          <td class="px-6 py-4">
            <div
              class="w-24 text-xl bg-white text-black rounded-lg text-base py-1 px-3"
            >
              <a
                href="/get/org/{{ org.id }}"
                class="flex flex-row justify-center items-center gap-2 px-2"
              >
                <i class="fa fa-refresh" aria-hidden="true"></i>
                Fetch
              </a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="flex flex-row-reverse w-full px-2 text-[#d4939d]">
      {{ orgs|length }} out of {{ totalOrgs }}
    </div>
  </div>
  <div class="text-md text-[#d4939d] mt-2">
    Don't see the organnization listed ? Try editing Organization permissions
    for balkantask
  </div>
  <a
    href="https://github.com/settings/connections/applications/4266cc7d16112f9e9267"
    target="_blank"
    rel="noopener noreferrer"
    class="w-60 mt-4"
  >
    <div
      class="w-52 text-xl bg-[#eebbc3] text-[#232946] rounded-lg text-base py-1 px-3"
    >
      Manage Permissions
    </div>
  </a>
  {% endif %}
</div>
