<div class="flex flex-col my-8 px-8 border border-gray-300 p-2">
  <div class="flex flex-row justify-between items-center mb-4">
    <div class="text-3xl text-white">Your repositories:</div>
    {% if repos != None and repos|length != 0 %}
    <a href="all/repositorios">
      <div
        class="text-xl bg-[#eebbc3] text-[#232946] rounded-lg text-base py-1 px-3"
      >
        View all
      </div>
    </a>
    {% else %}
    <a href="/load/repositorios">
      <div
        class="text-xl bg-[#eebbc3] text-[#232946] rounded-lg text-base py-1 px-3"
      >
        Refetch repositories
      </div>
    </a>
    {% endif %}
  </div>
  {% if repos == None or repos|length == 0 %}
  <div class="text-xl text-[#d4939d]">No repositories found :(</div>
  {% else %}
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-400">
      <thead class="text-xs uppercase text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3 bg-[#b8c1ec] text-[#232946]">
            Repository Id
          </th>
          <th scope="col" class="px-6 py-3">Repository Name</th>
          <th scope="col" class="px-6 py-3 bg-[#b8c1ec] text-[#232946]">
            Owner Email
          </th>
          <th scope="col" class="px-6 py-3">Owner Id</th>
          <th scope="col" class="px-6 py-3 bg-[#b8c1ec] text-[#232946]">
            Owner Name
          </th>
          <th scope="col" class="px-6 py-3">Stars</th>
          <th scope="col" class="px-6 py-3 bg-[#b8c1ec] text-[#232946]">
            Status
          </th>
        </tr>
      </thead>
      <tbody>
        {% for repo in repos %}
        <tr class="border-b border-gray-700">
          <th
            scope="row"
            class="px-6 py-4 font-medium whitespace-nowrap bg-[#b8c1ec] text-[#fffffe]"
          >
            {{ repo.id }}
          </th>
          <td class="px-6 py-4">{{ repo.name }}</td>
          <td class="px-6 py-4 bg-[#b8c1ec] text-[#232946]">
            {{ repo.owner_email }}
          </td>
          <td class="px-6 py-4">{{ repo.owner_id }}</td>
          <td class="px-6 py-4 bg-[#b8c1ec] text-[#232946]">
            {{ repo.owner_name }}
          </td>
          <td class="px-6 py-4">{{ repo.stars }}</td>
          <td class="px-6 py-4 bg-[#b8c1ec] text-[#232946]">
            {{ repo.status }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
</div>
